.main {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .section-cabañas {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 100%;
        .subtitle {
            text-align: center;
            font-weight: bold;
            margin: 20px;
            font-size:20px;
            
        }
        .presentation {
            margin-top: 80px;
            background-image: url(../ImagenesCabañas/Rincones-3.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            height: 520px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px 0px;
           
            .text-presentation {
                background-color: $color-ligth;
                opacity: 0.7;
                border-style: ridge;
                text-align:justify;
                margin: 20px;
                padding: 2px;
                width: 70%;
            }
        }
        
        .carousel {
            margin: 20px 20px 50px 20px;
            width: 95%;

            .slide {
                margin: 10px;
                
                padding: 20px;
            }
        }
        .gallery-horizontal {
            display: none;
        }
        .gallery-horizontal-2 {
            display: none;
        }
    }

}
@media screen and (min-width:768px) {
    .main {
        .section-cabañas {
            .subtitle {
                
                
                margin: 20px;
                font-size:28px;
                
            }
            .presentation {
                height: 420px;
                .text-presentation {
                    width: 60%;
                    font-size: 18px;
                }
            }
            .carousel {
                margin: 20px 20px 50px 20px;
                width: 70%;
    
                .slide {
                    margin: 10px;
                    
                    padding: 20px;
                }
            }
        }
    }
}
@media screen and (min-width:1200px) {
    .main {
        .section-cabañas {
            .subtitle {
                margin: 20px;
                font-size:30px;
                
            }
            .presentation {
                height: 520px;
                .text-presentation {
                    width: 60%;
                    font-size: 18px;
                }
            }
            #carouselExampleControlsNoTouching1 {
                margin: 20px 20px 50px 20px;
                width: 45%;
            }
            .carousel {
                margin: 20px 20px 85px 20px;
                width: 60%;
                display: none;
    
                .slide {
                    margin: 10px;
                    
                    padding: 20px;
                }

            }
            .gallery-horizontal {
                    
                display: grid;
                grid-template-columns: repeat(2,35%);
                justify-content: center;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                padding: 30px;
                align-items: center;
                .img-cabañas img {
                    width: 80%;
                    margin: 5px 10px ;
                    
                }
                
            }
            .gallery-horizontal-2 {
                display: grid;
                grid-template-columns: repeat(2,35%);
                justify-content: center;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                padding: 30px;
                align-items: center;
                .img-cabañas img {
                    width: 95%;
                    margin: 5px 10px ;
                    
                }
            }
        }}}