.container-fluid {
         
        background-color: $color-ligth-green;
        .title-networks{
            margin: 5px 0px;
            text-align: center;
            padding-left: 30px;
            font-size: 15px;
            }
              
    
        .text-website{
            font-size: 10px;
            text-align:start;
            padding-left: 15px;
            }
            
            
        .list-networks {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                list-style-type: none;
                .network {
                    width: 16px;
                }
            
            }
            
}
@media screen and (min-width: 575px){
    .footer{
        
        .text-website {
            font-size: 13px;
            text-align:start;
            padding-left: 12px;
        }
        .title-networks{
            margin: 5px 0px;
            text-align: center;
            padding-left: 30px;
            font-size: 20px;
        }
        .list-networks {
            
            .network {
                width: 26px;
            }
        
        }
    }
    
} 

@media  screen and (min-width: 992px) {
.footer {
   
    .network {
        width: 46px;
    }
    .text-website {
        font-size: 18px;
        text-align:start;
        
    }
    .title-networks {
        padding-top:5px;
        font-size: 25px;
    }
    
    .list-networks {
        padding-top: 15px;
        .network {
            width: 32px;
        }
    
    }
}
    
}
@media  screen and (min-width: 1200px) {
    .footer {
        
        .title-networks {
            padding-top:5px;
            font-size: 29px;
            font-weight: bold ;
        }
        .list-networks {
            padding-top: 15px;
            .network {
                width: 36px;
            }
        
        }
    }
    
}