.main{
    display: flex;
    flex-direction: column; 
    padding-top: 92px;
    width: 100%;
    .carousel-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        .carousel  {
            border: ridge 1.5px  $color-dark-green;
            z-index: 1;
            width: 100%;
            
        }
        .carousel-control-prev-icon {
            color:chartreuse;

        }
    }
        .hero {
            width: 80%;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
            
            
            .hero__title  {
                font-size: 23px;
                text-align: center;
                color: $color-dark-green;
                font-weight: bold;
                
            }
            .hero__subtitle {
                text-align: center;
                font-size: 17px;
                
            }
            .text-hero {
                color: $color-dark-green;
                opacity: 0.7;
                text-align:center;
                padding: 5px 5px ;
                font-size: 15px;
            }
            
        }
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .subtitles   {
            text-align: center;
            padding: 50px 5px 50px 5px;
            color: $color-dark-green;
            font-weight: bold;
            font-size: 20px ;
            
        }
        .presentation-us{
            display: flex;
            flex-direction: column;
            align-items: center;   
            overflow:hidden;
            padding: 25px 5px;
            background-image: url(../ImagenesCabañas/Rincones-1.jpg);
            background-position: center ;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
                
                
                
           
            .img-about-us {
                margin: 10px 0px ;
                
                padding: 10px 40px;
                border: 10px 20px 10px 20px;
                border-style: ridge;
                border-color: $color-ligth;
                
                max-width: 350px;
                
                
                
            
            }
            .presentation{
                
                background-color: rgba(134, 207, 110,0.2);
                width: 100%;
                display: flex;
                flex-direction: column;
                color: $color-ligth;
                text-align: justify;
                padding: 15px;
                width: 90%;
            

                .hello {
                    margin: 8px 3px 0px 3px;
                    font-weight: bold;
                    text-align: start;
                    font-size: 19px;
                }
                .us {
                    align-items: flex-end;
                    text-align: end;
                    font-weight: bold;
                }
            }
        }
    }

    .about-location {

        .subtitles   {
            text-align: center;
            padding: 50px 5px 50px 5px;
            color: $color-dark-green;
            font-weight: bold;
            margin: 0px;
            font-size: 20px ;
            
        }
        .presentation-activitis {
            display: flex;
            flex-direction: column;
            align-items: center;   
            overflow:hidden;
            padding: 25px 5px;
            background-image: url(../ImagenesCabañas/Rincones-1.jpg);
                background-position: center ;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                min-height: 750px;
            
            justify-content: space-evenly;
          
            .video-location {
                height: 400px;
                width: 85%;
                padding-top: 20px;
            
            }
            .presentation-location {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .activitis-title {
                    text-align: center;
                    margin: 20px;
                    padding-top: 10px;
                    color: $color-ligth;
                }
                .presentation{
                
                    background-color: rgba(134, 207, 110,0.2);
                    
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    color: $color-ligth;
                    text-align: justify;
                    padding: 15px;
                }
            }
        }
    }
    
    
    .reviews-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px; 
        .subtitles{
            text-align: center;
            padding: 50px 5px 50px 5px;
            color: $color-dark-green;
            font-weight: bold;
            margin: 0px;
            font-size: 20px ; }
            
                .card-reviews {
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(134, 207, 110,0.6);
                    margin: 10px 0px;
                    padding: 15px;
                    border-radius: 10%;
                    width: 270px;
                    .card-icon {
                        display: block;
                        justify-items: left;
                        width: 38px;
                        padding: 5px;
                    }
                    .card-text {
                        text-align: justify;
                        font-size: 14px;
                        
                    }
                    .card-firma {
                        display: grid;
                        grid-template-areas: 
                        "card-photo card-username";
                        grid-template-columns: 0.5fr 1.5fr;
                        grid-template-rows: 1fr;
                        align-items: center;
                        justify-content: center;
                        .card-username {
                            grid-area: card-username;
                            font-size: 14px;
                            margin: 0px;
                        }
                        .card-photo {
                            grid-area: card-photo;
                            width: 60%;
                        
                        }
                    }


                }
            

        }
    }
    @media screen and (min-width:576px) {
        .main {
            .about-us {
                .presentation-us {
                    .presentation {
                        width: 75%;
                    }
                }
                
            }
            .about-location {
                .presentation-activitis {
                  
                    .video-location {
                        height: 400px;
                        width: 75%;
                        padding-top: 20px;
                    }
                    .presentation-location {

                        .presentation{
                            width: 400px;
                          
                        }
                    }
                }
            }
         
        }
    }
   
    @media screen and (min-width:992px) {
        .main {
            .about-us {
                .presentation-us {
                    .presentation {
                        width: 65%;
                    }
                }
                
            }
            .about-location {
                width: 100%;
                .presentation-activitis {
                    width: 100%;
                    .video-location {
                        height: 400px;
                        width: 600px;
                        padding-top: 20px;
                    }

                }
            }
         
        }
    }
    @media screen and (min-width:1200px) {
        .main {
            .carousel-hero {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .carousel  {
                    border: ridge 1.5px  $color-dark-green;
                    z-index: 1;
                    width: 80%;
                    
                }
                .carousel-control-prev-icon {
                    color:chartreuse;
                    width: 80%;
                }


            }

            .hero {
                width: 80%;
                margin-top: 35px;
                .hero__title  {
                    font-size: 33px;
                    text-align: center;
                    color: $color-dark-green;
                    font-weight: bold;
                    
                }
                .hero__subtitle {
                    text-align: center;
                    font-size: 28px;
                    
                }
                .text-hero {
                    color: $color-dark-green;
                    opacity: 0.7;
                    text-align:center;
                    padding: 5px 5px ;
                    font-size: 29px;
                }
            }
                .about-us {
                    width: 100%;
                    
                    .subtitles   {
                       
                        padding: 50px 5px 50px 5px;
                        
                        font-size: 28px ;
                        
                    }
                    .presentation-us{    
                       width: 80%;
                        .img-about-us {
                            margin: 10px 0px ;
                            
                            padding: 15px 45px;
                            border: 10px 20px 10px 20px;
                            max-width: 480px;
                            
                            
                            
                        
                        }
                        .presentation{
                            
                            background-color: rgba(134, 207, 110,0.2);
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            color: $color-ligth;
                            text-align: justify;
                            padding: 15px;
                            width: 80%;
                            font-size: 22px;
                            
            
                            .hello {
                                margin: 8px 3px 0px 3px;
                                font-weight: bold;
                                text-align: start;
                                font-size: 19px;
                            }
                            .us {
                                align-items: flex-end;
                                text-align: end;
                                font-weight: bold;
                            }
                        }
                    }
                }
            
                .about-location {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .subtitles   {
                        padding: 50px 5px 50px 5px;
                        font-weight: bold;
                        margin: 0px;
                        font-size: 28px ;
                        
                    }
                    .presentation-activitis {
                        padding: 25px 5px;
                        background-image: url(../ImagenesCabañas/Rincones-1.jpg);
                            background-position: center ;
                            background-attachment: fixed;
                            background-repeat: no-repeat;
                            background-size: cover;
                        width: 80%;
                           
                        
                        display: flex;
                        flex-direction: column;
                      
                        .video-location {
                            
                           width: 50%;
                            padding-top: 20px;
                        
                        }
                        .presentation-location {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            
                            .activitis-title {
                                font-size: 32px;
                            }
                            .presentation{
                            
                                background-color: rgba(134, 207, 110,0.2);
                                
                                width: 80%;
                                display: flex;
                                flex-direction: column;
                                color: $color-ligth;
                                text-align: justify;
                                padding: 15px;
                                font-size: 22px;

                            }
                        }
                    }
                }
                
                
                .reviews-section {
                    .subtitles{
                        text-align: center;
                        padding: 50px 5px 50px 5px;
                        color: $color-dark-green;
                        font-weight: bold;
                        margin: 0px;
                        font-size: 28px ; }
                        
                            .card-reviews {
                                margin: 10px 0px;
                                padding: 15px;
                                border-radius: 10%;
                                width: 270px;
                                
                                .card-icon {
                                    display: block;
                                    justify-items: left;
                                    width: 48px;
                                    padding: 5px;
                                }
                                .card-text {
                                    text-align: justify;
                                    font-size: 16px;
                                    
                                }
                                .card-firma {
                                    .card-username {
                                        grid-area: card-username;
                                        font-size: 16px;
                                        margin: 0px;
                                    }
                                    .card-photo {
                                        grid-area: card-photo;
                                        width: 65%;
                                    
                                    }
                                }
            
            
                            }
                        
            
                    }
            }
        }
    


    

