.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    .conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .subtitle {
            padding: 5px;
            margin: 20px 0PX;
            font-size: 18px ;
            text-align: center;
        }
    }
    .box-maps {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 185px;
        width: 95%;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
        cursor: pointer;
        .maps {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
            height: 95%;
            
        }
    }
    
    .address{
        color: rgb(17, 16, 15);
        font-size: 13px ;
        margin: 30px;
        text-align: center;
    }
    .button-disponibility {
        margin: 20px 0px 40px 0px ;
    }
}
@media screen and (min-width:576px) {
    .main {
        .box-maps {
            height: 200px;
            width: 80%;
        }
    }
}
@media screen and (min-width:768px) {
    .main {
        .box-maps {
            height: 280px;
            width: 70%;
        }
    }
}
@media screen and (min-width:992px) {
    .main {
        .box-maps {
            height: 320px;
            width: 60%;
        }
    }
}
@media screen and (min-width:1200px) {
    .main {
        .box-maps {
            height: 420px;
            width: 50%;
        }
    }
}
@media screen and (min-width:1900px) {
    .main {
        
        .conteiner {
            .subtitle {
                font-size: 32px ;
            }
        }
        .address{
            font-size: 23px ;
            margin: 30px;
            
        }
        .button-disponibility {
            font-size: 25px;
            margin: 20px 0px 40px 0px ;
        }
    }
}