* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    background-color: #dd7b2c;
    font-family: 'Roboto', sans-serif;
    
}

/*comienza HEADER*/
.navbar {
    padding: 0px;
}
.container-fluid {
    background-color: #3B3B3B;
}

.navbar-toggler {
    background-color: rgb(255, 254, 244);
    margin-right: 25px;
}
.logo .imgHome {
    height: 90px;
    width: 100%;
    padding-left: 25px;
}

.nav__menu {
    display: none;
}

@media screen and (min-width: 768px) {

.navbar-toggler{
    display: none;
}

.nav-item .nav-link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #dd7b2c;
    margin: 0px 11px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 10%;   
}
.nav-link:hover {
    background-color: rgba(237, 227, 41, 0.992) ;
}

}

@media screen and (min-width: 992px) {

.nav__label svg {
    display: none;
}
.logo .imgHome {
    width: 100%;
    margin-left: 45%;
}

.nav-item .nav-link {
    margin: 0px 11px;
    font-size: 18px;
    border-radius: 13%;   
}
}
@media screen and (min-width: 1200px) {
.nav-item .nav-link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #dd7b2c;
    margin: 0px 11px;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 10%;   
}
.nav-item {
    padding-right: 40px;
}
}
@media screen and (min-width: 1900px) {
.nav-item {
    padding-right: 90px;
}
}
/*finaliza header*/

/*comienza main*/
.main {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    text-align: center;
    font-weight: bold; 
    font-size: 35px ; 
    animation: fluido 30s ease-in-out infinite;
    background: linear-gradient(-45deg, #fef60f, #ffffff, #f2e018, #fffedc);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}
@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}


.section-cabañas {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.section-cabañas .subtitle {
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size:xx-large;
    
}
.section-cabañas .presentation {
    
   
    background-color: rgba(237, 227, 41, 0.992);
    border-style: ridge;
    margin: 10px 20px;
}
.presentation p {
    text-align:justify;
    padding: 35px;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-cabañas img {
    margin: 10px;
}


@media screen and (min-width:768px) {
    .presentation p {
        font-size: 18px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2,50%);
        justify-items: center;
        column-gap: 5px;
        row-gap: 5px;
        padding: 30px;
        
    }
    
    
    .gallery .img-cabañas img {
        width: 100%;
        margin: 5px 10px ;    
    }
    
} 

@media screen and (min-width:1200px)  {
    .presentation p {
        font-size: 20px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2,35%);
        justify-content: center;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding: 30px;
        align-content: center;
        
    }
    
    
    .gallery .img-cabañas img {
        width: 100%;
        margin: 5px 10px ;
        
    }

    .section-cabañas .presentation {
        margin: 10px 65px;
    }
    .title {
        font-size: 38px;
        margin-top: 20px;
    }
        
} 
@media screen and (min-width:1900px) {
    .presentation p {
        font-size: 25px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(4,25%);
        justify-content: center;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding: 30px 75px;
        align-content: center;
        
    }
    .gallery .img-cabañas img {
        width: 100%;
        margin: 0px 8px ;
        
    }
    .section-cabañas .presentation {
        margin: 15px 125px;
    }
    .title {
        font-size: 60px ; 
    }
}

/*comienza el FOOTER*/
/*
#footer {
    display: grid;
    grid-template-areas: 
    "website follow-us follow-us follow-us"
    "website botton-networks botton-networks botton-networks" ;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: rgba(237, 227, 41, 0.992);
    height: 75px;
    align-content: space-between;

} */

.follow-us {
    grid-area: follow-us;
    align-items:center;
}
.title-networks{
    margin: 5px 0px;
    text-align: center;
    padding-left: 30px;
    font-size: 15px;
}
.botton-networks{
    grid-area:  botton-networks;
    
}
a .network {
    width: 16px;
}
.list-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}


.website-autor {
    grid-area: website;
    align-self: center;
}
.text-website {
    font-size: 10px;
    text-align:start;
    padding-left: 15px;
    
}
@media screen and (min-width: 575px){
    .text-website {
        font-size: 13px;
        text-align:start;
        padding-left: 12px;
    }
    .title-networks{
        margin: 5px 0px;
        text-align: center;
        padding-left: 30px;
        font-size: 20px;
    }
    a .network {
        width: 25px;
    }
}

@media  screen and (min-width: 992px) {
  /*  #footer {
        display: grid;
        grid-template-areas: 
        "website follow-us follow-us follow-us"
        "website botton-networks botton-networks botton-networks" ;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        background-color: rgba(237, 227, 41, 0.992);
        height: 120px;
        align-content: space-between;
    
    } */
    a .network {
        width: 36px;
    }
    .text-website {
        font-size: 18px;
        text-align:start;
        
    }
    .title-networks {
        padding-top:5px;
        font-size: 25px;
    }
    .list-networks{
        padding-top: 15px;
    }
}
@media  screen and (min-width: 1200px) {
    .title-networks {
        padding-top:5px;
        font-size: 29px;
        font-weight: bold ;
    }
    a .network {
        width: 43px;
    }
}